NODE_ENV=development

APP_NAME="HONDA CLINIC PRADANA"
PORT=3333
# DB_USERNAME='postgres.vhghxverqwayvpnjzdgy'
# DB_PASSWORD='H4nyaakusaja@'
# DB_NAME='postgres'
# DB_HOST='aws-1-ap-northeast-2.pooler.supabase.com'
# aYmeqACWJ6ZOxCRB
DB_USERNAME='postgres'
DB_PASSWORD='12345'
DB_NAME='bengkel'
DB_HOST='127.0.0.1'

LANDING_URL="http://localhost:5173"
ADMIN_URL="http://localhost:5173"
# DB_PORT=6543
# DB_USERNAME='postgres.vhghxverqwayvpnjzdgy'
# DB_PASSWORD='H4nyaakusaja@'
# DB_NAME='postgres'
# DB_HOST='aws-1-ap-northeast-2.pooler.supabase.com'

SECRET_KEY='e9d7c2ebc2a18f375e07e94a45faa66f53270baf325fc4d597d25127d2dea77096705a0820850315db26abd90b4b6706d9536f7bf81ebb25a9d88136d262c542'


S3_ACCESS_KEY_ID=AKIA2CCYKNC6ZPO3DHNN
S3_SECRET_ACCESS_KEY=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
S3_REGION=ap-southeast-2
S3_BUCKET_NAME=brazam

GEMINI_API_KEY=AIzaSyCiB0oCYHmRRZpT1_Khn6WkErmw2vwphfw

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap1

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
PG_DUMP_PATH=pg_dump