<style>
    .receipt {
        width: 76mm;
        /* Lebar standar struk */
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        line-height: 1.2;
        color: #000;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .dashed-line {
        border-top: 1px dashed #000;
        margin: 5px 0;
    }

    .bold {
        font-weight: bold;
    }

    .item-table {
        width: 100%;
        margin: 5px 0;
    }

    .item-name {
        display: block;
        margin-bottom: 2px;
    }
</style>

<div class="receipt">
    <div class="text-center">
        <div class="bold" style="font-size: 16px;">{{ company?.name }}</div>
        <div>{{ company?.address }}</div>
        <div>Telp: {{ company?.phone_number }}</div>
    </div>

    <div class="dashed-line"></div>

    <div>
        No. Bayar: {{ payment_no }}<br>
        No. Ref : {{ order.trx_no }}<br>
        Tanggal : {{ payment_date }}<br>
        Kasir : {{cashier?.name}}
    </div>

    <div class="dashed-line"></div>

    <table class="item-table" style="width: 100%; table-layout: auto; border-collapse: collapse;">
        <tbody>
            @each(item in order.items)
            <tr>
                <td colspan="3" style="padding-top: 5px; font-weight: 600; white-space: nowrap;">
                    {{ item.data.name }}
                </td>
            </tr>
            <tr>
                <td style="width: 20%; white-space: nowrap;">{{ item.qty }} x</td>
                <td style="width: 40%;">{{ new Intl.NumberFormat('id-ID').format(item.price) }}</td>
                <td style="width: 40%;" class="text-right">
                    {{ new Intl.NumberFormat('id-ID').format(item.total_price) }}
                </td>
            </tr>
            @endeach
        </tbody>
    </table>

    <div class="dashed-line"></div>

    <table style="width: 100%;">
        <tr>
            <td>TOTAL</td>
            <td class="text-right bold" colspan="2">
                {{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumFractionDigits: 0
                }).format(order.grand_total) }}
            </td>
        </tr>
        <tr>
            <td>METODE</td>
            <td class="text-right" colspan="2">{{ method }}</td>
        </tr>
        <tr>
            <td>BAYAR</td>
            <td class="text-right" colspan="2">
                {{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumFractionDigits: 0
                }).format(received_amount) }}
            </td>
        </tr>
        <tr>
            <td>KEMBALI</td>
            <td class="text-right" colspan="2">

                {{ new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumFractionDigits: 0
                }).format(Number(amount) - Number(received_amount)) }}
            </td>
        </tr>
    </table>

    <div class="dashed-line"></div>

    <div class="text-center" style="margin-top: 10px;">
        TERIMA KASIH<br>
        Barang yang sudah dibeli<br>
        tidak dapat ditukar/dikembalikan
    </div>
</div>